{{log model.users}}
{{log model.role}}

<section>
  <div class="container">
    <div class = "row">
      <h1 class = "bg-txt">Registered Users </h1>
    </div>
  </div>
</section>
{{#each model.users as |model|}}

<section>
  <div class="container">
    <div class = "row">
      {{#link-to "users.show" model.id}}  <h2 class = "md-txt">  {{model.id}}. {{model.firstName}} {{model.lastName}}</h2> {{/link-to}}
      <p class = "sm-txt" align = "justify"><b>Email:  </b> {{model.email}}</p>
      <p class = "sm-txt" align = "justify"><b>Role: </b>{{model.roleId.roleName}} </p>
      <p class = "sm-txt" align = "justify"><b>City:  </b> {{model.city}}</p>
      <p class = "sm-txt" align = "justify"><b>State:  </b> {{model.state}}</p>
      <p class = "sm-txt" align = "justify"><b>Function:  </b> {{model.function}}</p>

    </div>
  </div>
</section>
{{/each}}
