{{log model.dokuments}}
{{log model.users}}

<section>
  <div class="container">
    <div class = "row">
      <h1 class = "bg-txt">Documents </h1>
    </div>
  </div>
</section>
{{#each model.dokuments as |model|}}

<section>
  <div class="container">
    <div class = "row">
      <div class="col-md-2">
        <img class="img-responsive center-block" src="assets/images/docLogo.png">
      </div>
        <div class="col-md-10">
       <h2 class = "md-txt">  {{model.id}}. <a href= {{model.documentLink}}>Dokument: {{model.documentLink}}</a></h2>
      <p class = "md-txt" align = "justify"><b>User:  </b> {{model.userId.firstName}} {{model.userId.lastName}}</p>
    </div>
    </div>
  </div>
</section>
{{/each}}
