{{log model.speaker}}

<section>
    <div class="container">
        <div class = "row">
            <h1 class = "bg-txt">Speaker profile</h1>
            <p class = "sm-txt" align = "justify">The following speaker will make reports at the IX annual conference for technology and
              information security - Actis 2017.</p>
            <br>
            <br/>
      </div>
  </div>
</section>
{{#each model.speakers as |model|}}

<section>
    <div class="container">
        <div class = "row">
            <h1 class = "bg-txt">Speaker profile</h1>

{{#link-to "speakers.show" model.id}}  <h2 class = "md-txt"> {{model.id}}. {{model.firstName}} {{model.lastName}}</h2> {{/link-to}}
            <p class = "sm-txt" align = "justify"><b>Short bio:  </b> {{model.cv}}</p>
             <p class = "sm-txt" align = "justify"><b>Abstract: </b>{{model.info}} </p>
              <img src={{model.imageLink}} alt="">
              <br/>
        </div>
    </div>
</section>
<br>
{{/each}}
