<div class="container">
<div class="row">
  <h1 class="bg-txt">Submit work</h1>
  <form>
    {{input  class="form-control" id="inputName" value=dokument.name
    placeholder="Document Name"}}
    {{input  class="form-control" id="inputLink" value=dokument.documentLink
    placeholder="Document Link"}}
    <br>
    <input type="file" accept="pdf/*" name="userwork" id="userwork" required>
<br>
  				<div class="labela" id="labeluserwork"></div>
          {{input type="checkbox" id="test5" checked=isChecked}} <label for="test5">I accept the terms and conditions for the transfer of my work and public sharing my personal data.</label>
  <br>

<br>
    <button type="submit" class="btn btn-primary" {{action "submit"}}> Submit </button>
  </form>
<br><br>
</div>
</div>

{{ sponsors-section }}
{{ main-footer }}
