{{ember-notify closeAfter=5000}}

<div class="container">
<div class="row">
<h1 class="bg-txt col-md-12">Welcome reviewer</h1>
</div>
<br>
<br>
<div class="row">

  <div class="md-txt col-md-9">
  <ul>
    {{#each model.docs as |model|}}
    <li>Work:  <a href= {{model.documentLink}}> {{model.name}}  </a> - {{model.userId.lastName}}  </li>  &nbsp;&nbsp;
    <li>   {{input  class="form-control" value=model.review
      placeholder="Review"  }}

       <button class="btn btn-primary" {{action 'submitReview' model.id model.review}}>Submit Review</button>
  </li>
  {{#if accepted}}
      <span class="help-block">  Successful Document Review! </span>
  {{/if}}
  {{#if greska}}
      <span class="help-block"> Write review! </span>
  {{/if}}
    <br>
  {{/each}}
  </ul>
  </div>
</div>

</div>

{{ sponsors-section }}
{{ main-footer }}
