<div class="container">
<div class="row">
  <h1 class="bg-txt col-md-12">Add new speaker</h1>
  <div class="col-md-12">
  <form>
    <div class="form-group">
      <label for="inputFirstname">First name</label>
      <input  class="form-control" id="inputFirstname"
      placeholder="First name">
    </div>
    <div class="form-group">
      <label for="inputLastname">Last name</label>
        <input  class="form-control" id="inputLastname"
      placeholder="Last name">
    </div>
    <div class="form-group">
      <label for="inputCV">CV</label>
        {{textarea class="form-control" id="inputCV"
      placeholder="CV"}}
    </div>
    <div class="form-group">
      <label for="inputImageLink">Image link</label>
        {{textarea class="form-control" id="inputImageLink"
      placeholder="Image link"}}
    </div>
    <div class="form-group">
      <label for="inputInfo">Info</label>
    {{textarea class="form-control" id="inputInfo"
      placeholder="Info"}}
    </div>
    <div class="form-group">
      <label for="inputLink">Link</label>
      <input class="form-control" id="inputLink"
      placeholder="Link">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
<br><br>
</div>
</div>
{{ sponsors-section }}
{{ main-footer }}
