{{ember-notify closeAfter=5000}}

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>


<div class="container">
<div class="row">
  <h1 class="bg-txt col-md-12">Assign document to reviewer</h1>
<br><br>

<form >
  <div class="row">
<div class="col-md-6">
  <div class="md-txt">Documents</div>
    {{#each model.dokuments as |doc|}}
    {{doc.id}}. {{doc.name}} - {{doc.userId.firstName}} {{doc.userId.lastName}}
    <br>
    {{/each}}
</div> <br>
<div class="col-md-6">
  <div class="md-txt">Reviewer</div>
  {{#each model.reviewers as |recezent|}}
  {{recezent.id}}.  {{recezent.firstName}} {{recezent.lastName}}
  <br>
  {{/each}}
</div>
</div>

<br>
<div class="row">

<div class="col-md-6">
<div class="form-group">
  <label for="inputPassword">Input document ID </label>
  {{input type="number" class="form-control" value=dokId id="inputNewPassword" placeholder="Document ID"}}
  {{#if izabranDoc}}
      <span class="help-block"> Incorrect ID! </span>
  {{/if}}
</div>
</div>

<div class="col-md-6">

<div class="form-group">
  <label for="inputPassword">Input Reviewer ID</label>
  {{input  type="number" class="form-control" value=recID id="confirmNewPassword" placeholder="Reviewer ID"}}
  {{#if izabranReviewer}}
      <span class="help-block"> Incorrect ID!  </span>
  {{/if}}
  {{#if greska}}
      <span class="help-block"> Document is successfully assigned.!  </span>
  {{/if}}
</div>
</div>
</div>


<button type="submit" class="btn btn-primary" {{action 'submit' dokId recID}}>Submit</button>
</form>

</div>
</div>
{{ sponsors-section }}
{{ main-footer }}
