<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>


<div class="container">
<div class="row">
  <h1 class="bg-txt col-md-12">Assign document to reviewer</h1>
  <div class="col-md-6">
<div class="md-txt">Document</div>
</div>
<div class="col-md-6">
<div class="md-txt">Reviewer</div>
</div>
<br><br>

<div class="col-md-6">
  <div class="dropdown">
      <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Document
      <span class="caret"></span></button>
      <ul class="dropdown-menu">
        {{#each model.dokuments as |model|}}
        <li><a href="#"> {{model.userId.firstName}} {{model.userId.lastName}}: {{model.documentLink}}  </a></li>
          {{/each}}
      </ul>
    </div>
</div>
<div class="col-md-6">
  <div class="dropdown">
      <button class="btn btn-primary dropdown-toggle" type="button"  data-toggle="dropdown">Reviewer
      <span class="caret"></span></button>
      <ul class="dropdown-menu">
        {{#each model.reviewers as |model|}}
        <li><a href="#"> {{model.firstName}} {{model.lastName}} </a></li>
          {{/each}}
      </ul>
    </div>
</div>
</div>
<div class="row">
<div class="col-md-12"><button type="submit" class="btn btn-primary">Submit</button></div>
</div>
</div>
{{ sponsors-section }}
{{ main-footer }}
