<div class="container">
<div class="row">
<h1 class="bg-txt col-md-12">Welcome reviewer</h1>
</div>
<br>
<br>
<div class="row">

  <div class="md-txt col-md-9">
  <ul>
    {{#each model.docs as |model|}}
    <li>Work:  <a href= {{model.documentLink}}> {{model.name}}  </a> - {{model.userId.lastName}}    &nbsp;&nbsp; {{#link-to 'info'}} Accept work  {{/link-to}} &nbsp;&nbsp;{{#link-to 'info'}} Decline work  {{/link-to}}</li>
    <br>
  {{/each}}
  </ul>
  </div>
</div>

</div>

{{ sponsors-section }}
{{ main-footer }}
