<div class="container">
<div class="row">
<h1 class="bg-txt col-md-12">Welcome reviewer</h1>
</div>
<br>
<br>
<div class="row">

  <div class="md-txt col-md-9">
  <ul>
    {{#each model.docs as |model|}}
    <li>Work:  <a href= {{model.documentLink}}> {{model.name}}  </a> - {{model.userId.lastName}}  </li>  &nbsp;&nbsp;
    <li>   {{input  class="form-control" id="inputReview" value=review
      placeholder="Review"  }}

       <button class="btn btn-primary" {{action 'submitReview' model.id review}}>Accept work</button>
      <button class="btn btn-primary" {{action 'submitReview' model.id review}}>Decline work</button> &nbsp;&nbsp;
  </li>
    <br>
  {{/each}}
  </ul>
  </div>
</div>

</div>

{{ sponsors-section }}
{{ main-footer }}
