{{ember-notify closeAfter=5000}}

<div class="container">
<div class="row">
<h1 class="bg-txt col-md-12">Welcome reviewer</h1>
</div>
<br>
<br>
<div class="row">

  <div class="md-txt col-md-9">
  <ul>
    {{#each model.docs as |model|}}
    <li>Work:  <a href= {{model.documentLink}}> {{model.name}}  </a> - {{model.userId.lastName}}
       <button class="btn btn-primary" {{action 'acceptReview' model.id}}>Accept work</button>
      <button class="btn btn-primary" {{action 'declineReview' model.id }}>Decline work</button> &nbsp;&nbsp;
      {{#if declined}}
          <span class="help-block"> This assignment is declined. </span>
      {{/if}}
      {{#if accepted}}
          <span class="help-block">  Successful Document Review! </span>
      {{/if}}
      </li>  
    <br>
  {{/each}}
  </ul>
  </div>
</div>

</div>

{{ sponsors-section }}
{{ main-footer }}
