<div class="container">
<div class="row">
  <h1 class="bg-txt">Change password</h1>
  <form>
    <div class="form-group">
      <label for="inputPassword">Password</label>
          {{input type="password" class="form-control" id="inputPassword" placeholder="Password"}}
    </div>
    <div class="form-group">
      <label for="inputPassword">New password</label>
        {{input type="password" class="form-control" id="newpasswordInput" value=newpassword placeholder="Password"}}
    </div>
    <div class="form-group">
      <label for="inputPassword">Repeat new password</label>
          {{input type="password" class="form-control" id="new" placeholder="Password"}}
    </div>

    <button type="submit" class="btn btn-primary" {{action 'update' newpassword}}>Submit</button>
  </form>
<br><br>
</div>
</div>

{{ sponsors-section }}
{{ main-footer }}
